/* Secção Corrosel*/
.container {
    margin: auto;
    background: #f4f4f4;
    box-shadow: 0 30px 50px #505050;
    border-radius: 12px;
    max-width: 600px;
    margin-top: 150px;
}

.slider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
}

.slider img {
    width: 100%;
    display: none;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slides {
    object-fit: cover;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.2);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
/* Secção Corrosel*/

/* Secção das vantagens*/
.container1 {
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 1200px; 
    text-align: center;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap; 
}

.item img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.item p {
    margin-top: 10px;
    font-size: 28px;
    color: #333;
}
/* Secção das vantagens*/

/* Secção dos descontos*/
.descontos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}
.desconto {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.desconto p {
    margin: 0;
    font-size: 18px;
    color: #333;
}
.desconto .per {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
/* Secção dos descontos*/

/* Secção dos botões*/
button {
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

button:hover {
    opacity: 60%;
}
/* Secção dos botões*/