/* .container {
    background-color: white;
    position: relative;
    top: -350px;
    box-shadow: 0 30px 50px #dbdbdb;
    margin-top: 5em;
} */

.SectionPromo {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Transform é usado para mover o objeto dentro do container, 50% top e rigth */
    width: 64em;
    height: 38em;
    background: #f4f4f4;
    box-shadow: 0 30px 50px #505050;
}

.slider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider img{
    width: 100%;
    display: none;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slides {
    object-fit: cover; /* Isso garante que a imagem cubra completamente o espaço disponível */
}